/* Spin Animation */

.spin {
    transform-box: fill-box;
    transform-origin: center;
    animation: spin 4s linear infinite;
}

.spin>.hex {
    transform-box: fill-box;
    transform-origin: center;
    animation: spin-hex 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spin-hex {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Spin & Stop Animation */
.spin-stop {
    transform-box: fill-box;
    transform-origin: center;
    animation: spin-stop 7s linear infinite;
}

.spin-stop>.hex {
    transform-box: fill-box;
    transform-origin: center;
    animation: spin-stop-hex 7s linear infinite;
}

@keyframes spin-stop {
    0% {
        transform: rotate(0deg);
    }

    16.66666666666667% {
        transform: rotate(-120deg);
    }

    33.33333333333333% {
        transform: rotate(-120deg);
    }

    50% {
        transform: rotate(-240deg);
    }

    66.66666666666667% {
        transform: rotate(-240deg);
    }

    83.33333333333333% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


@keyframes spin-stop-hex {
    0% {
        transform: rotate(0deg);
    }

    16.66666666666667% {
        transform: rotate(240deg);
    }

    33.33333333333333% {
        transform: rotate(240deg);
    }

    50% {
        transform: rotate(480deg);
    }

    66.66666666666667% {
        transform: rotate(480deg);
    }

    83.33333333333333% {
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.center-in-one-by-one>.hex1 {
    animation: center-in-one-by-one-hex 6s linear infinite;
}

.center-in-one-by-one>.hex2 {
    animation: center-in-one-by-one-hex-2 6s linear infinite;
}

.center-in-one-by-one>.hex3 {
    animation: center-in-one-by-one-hex-3 6s linear infinite;
}

@keyframes center-in-one-by-one-hex {
    0% {
        transform: translate(0, 0);
    }

    16.66666666666667%,
    100% {
        transform: translate(12.5%, 8%);
    }
}

@keyframes center-in-one-by-one-hex-2 {

    0%,
    33.33333333333333% {
        transform: translate(0, 0);
    }

    50%,
    100% {
        transform: translate(-12.5%, 8%);
    }
}

@keyframes center-in-one-by-one-hex-3 {

    0%,
    66.66666666666667% {
        transform: translate(0, 0);
    }

    83.33333333333333%,
    100% {
        transform: translate(0, -12.5%);
    }
}

.center-in-simultaneous>.hex1 {
    animation: center-in-simultaneous-hex1 4s linear infinite;
}

.center-in-simultaneous>.hex2 {
    animation: center-in-simultaneous-hex2 4s linear infinite;
}

.center-in-simultaneous>.hex3 {
    animation: center-in-simultaneous-hex3 4s linear infinite;
}

@keyframes center-in-simultaneous-hex1 {
    0% {
        transform: translate(0, 0);
    }

    50%, 100% {
        transform: translate(12.5%, 8%);
    }
}

@keyframes center-in-simultaneous-hex2 {
    0% {
        transform: translate(0, 0);
    }

    50%, 100% {
        transform: translate(-12.5%, 8%);
    }
}

@keyframes center-in-simultaneous-hex3 {
    0% {
        transform: translate(0, 0);
    }

    50%, 100% {
        transform: translate(0, -12.5%);
    }
}

.center-in-out-simultaneous>.hex1 {
    animation: center-in-out-simultaneous-hex1 6s linear infinite;
}

.center-in-out-simultaneous>.hex2 {
    animation: center-in-out-simultaneous-hex2 6s linear infinite;
}

.center-in-out-simultaneous>.hex3 {
    animation: center-in-out-simultaneous-hex3 6s linear infinite;
}

@keyframes center-in-out-simultaneous-hex1 {
    0% {
        transform: translate(0, 0);
    }
    33.33333333333333%,
    66.66666666666667% {
        transform: translate(12.5%, 8%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes center-in-out-simultaneous-hex2 {
    0% {
        transform: translate(0, 0);
    }
    33.33333333333333%, 66.66666666666667% {
        transform: translate(-12.5%, 8%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes center-in-out-simultaneous-hex3 {
    0% {
        transform: translate(0, 0);
    }
    33.33333333333333%, 66.66666666666667% {
        transform: translate(0, -12.5%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.center-in-out-one-by-one>.hex1 {
    animation: center-in-out-one-by-one-hex1 12s linear infinite;
}

.center-in-out-one-by-one>.hex2 {
    animation: center-in-out-one-by-one-hex2 12s linear infinite;
}

.center-in-out-one-by-one>.hex3 {
    animation: center-in-out-one-by-one-hex3 12s linear infinite;
}

@keyframes center-in-out-one-by-one-hex1 {
    0% {
        transform: translate(0, 0);
    }
    8.33333333333333%, 58.33333333333333% {
        transform: translate(12.5%, 8%);
    }
    66.66666666666667%,
    100% {
        transform: translate(0, 0);
    }
}

@keyframes center-in-out-one-by-one-hex2 {
    0%,8.33333333333333% {
        transform: translate(0, 0);
    }
    16.66666666666667%, 66.66666666666667% {
        transform: translate(-12.5%, 8%);
    }
    75%, 100% {
        transform: translate(0, 0);
    }
}

@keyframes center-in-out-one-by-one-hex3 {
    0%,16.66666666666667% {
        transform: translate(0, 0);
    }
    25%, 75% {
        transform: translate(0, -12.5%);
    }
    83.33333333333333%, 100% {
        transform: translate(0, 0);
    }
}